{% extends 'base.html.twig' %}

{% block title %}Haccp{% endblock %}

{% block body %}
<main class='main-content bgc-grey-100'>
        <div id='mainContent'>


          <div class="row gap-20 masonry pos-r">
              <div class="masonry-sizer col-md-6"></div>
              <div class="masonry-item  w-100">
                <div class="row gap-20">
                  <!-- #Toatl Visits ==================== -->


            <div class="container-fluid">
        <h2>   </h2>
             <div class="row">
                <div class="col-md-12">
                  <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <h4 class="c-grey-900 mB-20">Controllo giornalieri</h4>
                    <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                         <thead>
                          <tr>
                            
                            <th scope="col">Data</th>
                            <th scope="col">Dettagli</th>
                            
                            
            
                            </tr>
                            </thead>    
                            <tbody>
                             {% for user in data %}
                                <tr>
                                  
                                   <td>{{ user.data}}</td>
                                   
                                   <td>
                                    <div class="item-actions">
                                    <div class="peer">
                                    <a type="button" class="btn cur-p btn-primary" href="haccp/{{user.codicesessione}}/mostra">Dettagli</a>
                                    
                                    </div>
                                    </div>
                                    </td>
                                   
                                </tr>
                             {% else %}
                             <tr> <td colspan="4" align="center">Tabella utente vuota</td> </tr>
                             {% endfor %}
                           
                                </tbody>
                        </table>
                         
                        
                    </div>
          
                </div>
          
          </div>
          
          </div>
          
        </main>
{% endblock %}

