{% extends 'base.html.twig' %}
{% block title %}Dettagli controlli giornalieri{% endblock %}

{% block body %}
<main class='main-content bgc-grey-100'>
        <div id='mainContent'>


          <div class="row gap-20 masonry pos-r">
              <div class="masonry-sizer col-md-6"></div>
              <div class="masonry-item  w-100">
                <div class="row gap-20">
                  <!-- #Toatl Visits ==================== -->
                

                 

                

                




            
               
               
               
              
                                      
                    


            <div class="container-fluid">
        <h2>   </h2>
             <div class="row">
                <div class="col-md-12">
                  <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <h4 class="c-grey-900 mB-20">Elenco prodotti venduti al cliente</h4>
                    <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                         <thead>
                          <tr>
                          
                            <th scope="col">Immagine</th>
                            <th scope="col">Macchinario</th>
                            <th scope="col">Conformità</th>
                           
                            
                            

                           
                            
            
                            </tr>
                            </thead>    
                            <tbody>
                             {% for dati in datauscita %}
                                <tr>
                                  
                                  <td> <img src="{{dati.pathimmagine}}" class="rotateimg180" width="100"  />     </td>
                                   
                                   <td>{{ dati.macchinario}}</td>
                                   <td>{{ dati.conformità}}</td>
                                   

                                    


                                   
                                  
                                   
                                   
                                </tr>
                               
                             {% else %}
                             <tr> <td colspan="4" align="center">Tabella utente vuota</td> </tr>
                             {% endfor %}
                           
                                </tbody>
                        </table>
                         
                        
                    </div>
          
                </div>
          
          </div>
          
          </div>
          
        </main>
{% endblock %}
