{% extends 'base.html.twig' %}

{% block title %}Visualizzazione prodotti in uscita{% endblock %}

{% block body %}
<main class='main-content bgc-grey-100'>
        <div id='mainContent'>


          <div class="row gap-20 masonry pos-r">
              <div class="masonry-sizer col-md-6"></div>
              <div class="masonry-item  w-100">
                <div class="row gap-20">
                  <!-- #Toatl Visits ==================== -->
 
            <div class="container-fluid">
        <h2>   </h2>
             <div class="row">
                <div class="col-md-12">
                  <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <h4 class="c-grey-900 mB-20">Elenco uscite</h4>
                    <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                         <thead>
                          <tr>
                            
                            <th scope="col">Nome prodotto</th>
                            <th scope="col">Data produzione</th>
                            <th scope="col">Data vendita</th>
                            <th scope="col">Nome cliente</th>
                            <th scope="col">Quantità</th>
                            
                            
        
                            
            
                            </tr>
                            </thead>    
                            <tbody>
                             {% for user in data %}
                                <tr>
                                  
                                   <td>{{ user.nomeprodotto}}</td>
                                   <td>{{ user.dataproduzione}}</td>
                                   <td>{{ user.datauscita}}</td>
                                   <td>{{ user.nomecliente}}</td>
                                   <td>{{ user.quantita}}</td>
                                  
                                   
                                </tr>
                             {% else %}
                             <tr> <td colspan="4" align="center">Tabella vuota</td> </tr>
                             {% endfor %}
                           
                                </tbody>
                        </table>
                         
                        
                    </div>
          
                </div>
          
          </div>
          
          </div>
          
        </main>
{% endblock %}
