<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Demo portale{% endblock %}</title>
        {% block stylesheets %}
            
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
             <!-- Custom styles for this template -->
            <link href="css/landing-page.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="container" style="margin-top: 15px;">
            {% if is_granted("ROLE_USER") %}
                {% include("menuAuthenticated.html.twig") %}
            {% else %}
                {% include("menuAnonymous.html.twig") %}
            {% endif %}
        </div>

        <hr/>

        <div class="container">
            {% for message in app.flashes("success") %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}

            {%  for message in app.flashes("error") %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {%  endfor %}
        </div>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <hr/>

                    <!-- Footer -->
                <footer class="footer bg-light">
                <div class="container">
                    <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contattaci</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Termini e condizioni</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Iannacone.it 2018. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                        <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </footer>



        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>