<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="{{ url("app_default") }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url("fos_user_security_login") }}">Area riservata</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url("fos_user_registration_register") }}">Registrati</a>
    </li>
</ul>