{% extends 'base.html.twig' %}

{% block title %}Servizio tracciabilità{% endblock %}

{% block body %}
<main class='main-content bgc-grey-100'>
        <div id='mainContent'>


          <div class="row gap-20 masonry pos-r">
              <div class="masonry-sizer col-md-6"></div>
              <div class="masonry-item  w-100">
                <div class="row gap-20">
                  <!-- #Toatl Visits ==================== -->
                


            <div class="container-fluid">
        <h2>   </h2>
             <div class="row">
                <div class="col-md-12">
                  <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    {% for uscita in clientiuscita %}
                    
                    <h2 class="c-grey-600 mB-20"  >Cliente: {{ uscita.cliente}}  </h2>
                    <h4 class="c-grey-600 mB-20"  >Prodotto: {{nome}}  </h4>
                    <h4 class="c-grey-600 mB-20"  >Vendita del {{ uscita.dataproduzione}}  </h4>
                    

                    {% endfor %}
                   
                    <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                         <thead>
                          <tr>
                            
                            <th scope="col">Immagine prodotto</th>
                            <th scope="col">Etichetta</th>
                            <th scope="col">Data ingresso</th>
                            <th scope="col">Data lavorazione</th>
                            <th scope="col">Nome fornitore</th>
                            <th scope="col">Iva fornitore</th>
                            <th scope="col">Note</th>
                            <th scope="col">Quantità</th>

                            </tr>
                            </thead>    
                            <tbody>
                             {% for user in datiprodotti %}
                                <tr>
                                  
                                   
                                   <td> <img src="{{user.pathimmagine}}" class="rotateimg180" width="100"  />     </td>
                                   <td>{{ user.materieprime}}</td>
                                   <td>{{ user.dataingresso}}</td>
                                   <td>{{ user.data}}</td>
                                   <td>{{ user.nomefornitore}}</td>
                                   <td>{{ user.ivafornitore}}</td>
                                   <td>{{ user.note}}</td>
                                   <td>{{ user.quantita}}</td>

                               
                                </tr>
                               
                             {% else %}
                             <tr> <td colspan="4" align="center">Tabella utente vuota</td> </tr>
                             {% endfor %}
                           
                                </tbody>
                        </table>
                         
                        
                    </div>
          
                </div>
          
          </div>
          
          </div>
          
        </main>
{% endblock %}
